<%- include('../partials/layout-start') %>
<%- include('../partials/header') %>

<main>
  <p>Error 404: <span class="error">This page doesn't exist.</span></p>
</main>

<%- include('../partials/layout-end') %>
