<dialog class="modal" aria-labelledby="create-form-heading">
  <form
    name="create"
    action="<%= getGenrePath() %>"
    method="post"
    <% if (locals.createErrors?.length > 0) { %> data-invalid <% } %>
    class="modal-form"
  >
    <h2 id="create-form-heading">New genre</h2>

    <%- include('../form-errors', { errors: locals.createErrors }) %>

    <label for="create-name">Name</label>
    <input
      type="text"
      name="name"
      id="create-name"
      value="<%= locals.createFields?.name %>"
      required
      maxlength="<%= MAX_GENRE_NAME_LENGTH %>"
    />

    <input type="hidden" name="returnTo" />

    <div class="cancel-confirm-button-row">
      <button
        type="button"
        data-action="cancel-create"
        class="cancel-button"
      >Cancel</button>
      <button type="submit">Create genre</button>
    </div>
  </form>
</dialog>
