/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

button,
input,
textarea,
select {
  border: none;
  font-size: 1em;
}

button {
  cursor: pointer;
}

textarea {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Colors */
html {
  --black: #000;
  --dark-gray-15: #080808;
  --dark-gray-11: #282828;
  --dark-gray-8: #444;
  --gray: #888;
  --light-gray-6: #bbb;
  --white: #fff;

  --pale-light-red: #f88;
  --red: #a00;
  --pale-blue: #0077ff;
  --pale-light-blue: #a4cefe;
  --transparent-black: #0009;

  --color-app-bg: var(--dark-gray-15);
  --color-text: var(--white);
  --color-text-secondary: var(--light-gray-6);
  --color-link: var(--pale-light-blue);
  --color-input-bg: var(--dark-gray-11);
  --color-input-text: var(--white);
  --color-input-text-disabled: var(--gray);
  --color-button-bg-primary: var(--pale-blue);
  --color-button-bg-secondary: var(--dark-gray-11);
  --color-button-text: var(--white);
  --color-modal-border: var(--dark-gray-8);
  --color-modal-backdrop: var(--transparent-black);
  --color-table-separator: var(--dark-gray-8);

  --color-required: var(--pale-light-red);
  --color-error: var(--pale-light-red);

  --color-update-button-bg: transparent;
  --color-update-button-text: var(--light-gray-6);
  --color-delete-button-bg: transparent;
  --color-delete-button-text: var(--color-error);
  --color-submit-delete-button-bg: var(--red);
}

/* Base */
body {
  background-color: var(--color-app-bg);
  color: var(--color-text);
  min-height: 100vh;
  padding: 1rem 2rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
textarea,
select,
button {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

input,
textarea,
select {
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
}

:is(input, textarea, select):disabled {
  color: var(--color-input-text-disabled);
  cursor: not-allowed;
}

input[type='number'] {
  appearance: textfield;
}

button {
  background-color: var(--color-button-bg-primary);
  color: var(--color-button-text);
}

/* App */
header {
  margin-bottom: 0.75rem;

  display: flex;
  align-items: end;
  gap: 1rem;
}

.breadcrumb {
  background-color: var(--dark-gray-11);
  border-radius: 1rem;
  display: inline-flex;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
}

.breadcrumb :not(a) {
  color: var(--color-text-secondary);
}

.breadcrumb > :not(:last-child)::after {
  content: '🞂';
  color: var(--color-text-secondary);
  margin-inline: 0.5rem;
}

.create-button {
  display: block;
  margin-block: 0.75rem;
}

.modal {
  background-color: var(--color-app-bg);
  border: 1px solid var(--color-modal-border);
  border-radius: 1rem;
  color: var(--color-text);

  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  inset-inline-start: 50%;
}

.modal::backdrop {
  background-color: var(--color-modal-backdrop);
}

.modal-form {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

label:has(+ :required)::after {
  content: '*';
  color: var(--color-required);
  margin-inline-start: 0.1875rem;
}

.modal-form > :is(input, textarea, select) {
  margin-bottom: 0.5rem;
}

.modal-form button {
  margin-top: 0.625rem;
}

.error,
.errors {
  color: var(--color-error);
}

.errors {
  list-style-type: disc;
  margin-block: 0.75rem;
}

.errors > li {
  margin-inline-start: 1.125rem;
}

.cancel-confirm-button-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cancel-button {
  background-color: var(--color-button-bg-secondary);
}

.delete-submit-button {
  background-color: var(--color-submit-delete-button-bg);
}

.search-form {
  margin-block: 0.75rem;

  display: grid;
  grid-template-columns: max-content max-content;
  align-items: baseline;
  gap: 0.5rem;
}

.search-form label {
  justify-self: end;
}

.search-form button {
  grid-column: 1 / -1;
}

.records-table {
  margin-block: 0.75rem;
}

.records-table tr {
  outline: 1px solid var(--color-table-separator);
}

.records-table :is(th, td) {
  padding: 0.5rem 1rem;
}

.record-name,
.record-artist {
  text-align: start;
}

.record-name {
  font-style: italic;
}

tbody .record-name {
  font-weight: normal;
}

.record-price,
.record-quantity {
  text-align: end;
}

.record-actions {
  text-align: center;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
}

.update-button {
  background-color: var(--color-update-button-bg);
  color: var(--color-update-button-text);
}

.delete-button {
  background-color: var(--color-delete-button-bg);
  color: var(--color-delete-button-text);
}
