<%- include('../partials/layout-start') %>

<header>
  <h1><%= title %></h1>
</header>
<main>
  <nav>
    <ul>
      <li><a>Genres</a></li>
      <li><a>Artists</a></li>
      <li><a>Albums</a></li>
      <li><a>Songs</a></li>
    </ul>
  </nav>
</main>

<%- include('../partials/layout-end') %>
