<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Inventory</li>
    </ol>
  </nav>
</header>
<main>
  <nav>
    <ul>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a>Records</a></li>
    </ul>
  </nav>
</main>

<%- include('../partials/layout-end') %>
